/* Applied throughout */
* { box-sizing: border-box; }

/* Font imports */
@font-face { font-family: "Special Elite"; src: url('SpecialElite-Regular.ttf'); }

/* Sectioning elements */
h1 {
	font-size: 40px;
}

h2.bomb-name {
	display: inline-block;
	background-color: #557;
	padding: 0.5em;
	border-radius: 10px;
	
	text-shadow: 2px 2px 0px #000;
}

body {
  background-color: #282828;
  text-align: center;
  
  font-family: "Special Elite", "Courier New";
  color: #ccc;
}

section {
	border: 2px solid;
	border-radius: 10px;
	background-color: #533;
}

/* Navigation */
nav ul {
	padding: 0;
}

nav a {
	text-decoration: none;
}

nav ul li {
	display: inline-block;
	
	padding: 14px 16px;
	border: 2px solid black;
	border-left-width: 0px;
	border-radius: 10px;
	
	background-color: #9F1D35;

	text-shadow: 2px 2px 0px #000;
	font-weight: bold;
	font-size: 20px;
}

nav ul li:hover {
	background-color: #E46B81;
}

nav ul li.active {
	background-color: #E46B81;
}

a { color: #88d; }

li a { color: #ddd; }

/* Tables */
table {
	margin: 1em auto;
	border-spacing: 5px;
}


td, th {
	padding: .3em;
	background-color: #555;
	border-radius: 10px;
}

th {
	text-shadow: 2px 2px 0px #000;
}

caption {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0.5em;
	
	text-shadow: 2px 2px 0px #000;
}


/* Section-specific */
.teamsolves {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}
